---
layout: default
hasHero: true
title: Hello World!
subtitle: Welcome
---

<script>
   function showPostsOnEvent(event) {
        const category = event.target.options[ event.target.selectedIndex ].textContent;

        showPosts(category);
    }

    function showPosts(category) {
        const categoryElements = document.querySelectorAll('div[category]');

        for (let categoryElement of categoryElements) {
            if (categoryElement.getAttribute('category') !== category) {
                categoryElement.classList.add('is-hidden');
                continue;
            }

            categoryElement.classList.remove('is-hidden');
        }
    }
</script>

<div class="is-flex is-align-items-center mb-6">
    <div class="pr-3 is-size-4">Life is simple, so is</div>
    <div class="select is-medium is-link">
        <select name="category-selector" id="category-selector" onchange="showPostsOnEvent(event)">
            <option value="0">...</option>
            {% for category in site.categories %}
            <option value="{{ category[0] }}">{{ category[0] }}</option>
            {% endfor %}
        </select>
    </div>
</div>

{% for category in site.categories %}
<div class="card block is-hidden" category="{{ category[0] }}">
    <div class="card-header">
        <h3 class="card-header-title is-3">{{ category[0] }}</h3>
    </div>
    <div class="card-content">
        <ul>
            {% for post in category[1] %}
            <li><a class="is-link is-size-5" href="{{ post.url | absolute_url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}