---
layout: page
title: Posts
---

<div class="">
  {% for post in site.posts %}
    <div class="box">
      <h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
      <div class="post-meta content is-small has-text-grey-light">{{ post.date | date_to_string }}</div>
      <div class="content">
        {{ post.excerpt }}
      </div>
    </div>
  {% endfor %}
</div>