<meta charset="utf-8">

<title>{{ page.title }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}">
<link rel="icon" href="{{ "/assets/images/favicon.ico" | absolute_url }}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

<script src="{{ "/assets/js/add_css/add_css.js" | absolute_url }}"></script>