<header class="hero is-link is-fullheight is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            {%if page.title %}
                <h1 class="title is-1">{{ page.title }}</h1>
            {% endif %}
            {%if page.subtitle %}
                <h2 class="subtitle is-3">{{ page.subtitle }}</h2>
            {% endif %}
        </div>
    </div>
</header>