{% assign links = site.data.navigation %}
<nav class="navbar is-link">
    <div class="navbar-brand">
        {% for link in links %}
            {% assign linkHref = link.path | absolute_url %}
            <a href="{{ linkHref }}" class="navbar-item {% if page.url == linkHref %}current{% endif %}">{{ link.name }}</a>
        {% endfor %}
    </div>
</nav>
