.nav-bar {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 4fr;
}

.nav-link {
    color: goldenrod;
    text-decoration: none;
    margin: 0.5rem;
}

.current {
    font-weight: bold;
}