---
# Only the main Sass file needs front matter (the dashes are enough)
---

$font-stack: Inconsolata, Helvetica, sans-serif;
$primary-color: #333;
$spacing-unit: 30px;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

@import "navigation.scss", "content.scss";