<style>
    .water-heater-heat-duration-form {
        display: grid;
        grid-template-columns: 1fr;
    }
</style>

<form class="water-heater-heat-duration-form" action="#">
    <input type="text">
    <input type="text">
    <input type="text">
    <button type="submit">Ok</button>
    <div></div>
</form>