---
layout: post
author: nicolas
title: Calendrier à imprimer
categories: javascript vuejs
excerpt_separator: <!-- excerpt end -->
---

<!-- excerpt end -->

<script src="https://unpkg.com/vue@3"></script>

<div id="calendar-print-app">
    <Calendar></Calendar>
</div>

<script>
const SemesterCalendar = {
    props: {
        year: Number,
        semesterId: Number,
        printWidth: Number
    },
    computed: {
        imageSrc() {
            if (this.year < 1930) {
                return ''
            }
            
            return `https://www.calendriergratuit.fr/images/annuel2/calendrier-${this.year}-${this.semesterId}.jpg`
        },
        imageStyle() {
            return `width: ${this.printWidth}cm; height: ${this.printWidth / 1.58}cm; margin: 0.25cm 0; border: dashed grey 1px; object-fit: cover; object-position: bottom;`
        }
    },
    template: `
<div style="text-align: center;">
    <img v-bind:src="imageSrc" alt="" v-bind:style="imageStyle">
</div>
`
};

const Calendar = {
    data() {
        return {
            year: (new Date()).getFullYear(),
            width: 16,
        };
    },
    methods: {
        print() {
            const contentToPrint = document.getElementById("calendar").innerHTML;
            const temporaryWindow = window.open('', '', 'height=500, width=500');
            temporaryWindow.document.write('<html>');
            temporaryWindow.document.write(contentToPrint);
            temporaryWindow.document.write('</body></html>');
            temporaryWindow.document.close();
            temporaryWindow.print();
        },
    },
    template: `
<div class="not-printable section container">
    <div class="field">
        <label class="label" for="year-input">Year</label>
        <input class="input" type="text" v-model="year">
    </div>
    <div class="field">
        <label class="label" for="width-input">Width (cm)</label>
        <input class="input" type="text" v-model="width">
    </div>
    <div class="field">
        <button v-on:click="print">Print</button>
    </div>
</div>
<div id="calendar">
    <SemesterCalendar 
        v-for="semester in [0, 1]" 
        v-bind:year="year" 
        v-bind:semesterId="semester"
        v-bind:printWidth="width"
    ></SemesterCalendar>
</div>
`,
    components: {
        SemesterCalendar
    }
};

const app = Vue.createApp(Calendar);

app.mount('#calendar-print-app');

// print
function createStyleElement(css) {
    const styleElement = document.createElement('style');

    if (styleElement.styleSheet) {
        styleElement.styleSheet.cssText = css;
    } else {
        styleElement.appendChild(document.createTextNode(css));
    }

    return styleElement;
}

function addCss(css, element = document.head) {
    element.appendChild(createStyleElement(css));
}

addCss(`
@media print {
	.not-printable {
		display: none;
		height: 0px;
	}
}
`)
</script>