<!doctype html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include navigation.html %}

    {% if page.hasHero %}
        {% include hero.html %}
    {% endif %}

    <div class="content-wrapper section">
        {% include content.html %}
    </div>

    {% include footer.html %}
</body>

</html>